<h1>Adicionar Curso <a href="/curso/" class="btn btn-primary">Voltar</a></h1>

<form action="/curso/create" method="post">
    <input type="hidden" name="_csrf" value="{{csrf}}"/>
    <div class="form-group">
        <label for="sigla" class="form-label mt-4">Sigla do Curso</label>
        <input type="text" class="form-control" name="sigla" id="sigla" placeholder="Informe sigla do curso">
        <small class="form-text text-muted">Em caso de dúvidas consulte o site da UFAM.</small>
        <div class="invalid-feedback">{{printError errors 'sigla'}}</div>
    </div>

    <div class="form-group">
        <label for="nome" class="form-label mt-4">Nome do Curso</label>
        <input type="text" class="form-control" name="nome" id="nome" placeholder="Informe o nome do curso">
        <div class="invalid-feedback">{{printError errors 'nome'}}</div>
    </div>

    <div class="form-group">
        <label for="descricao" class="form-label mt-4">Descrição do Curso</label>
        <textarea class="form-control" name="descricao" id="descricao" rows="3"></textarea>
    </div>

    <fieldset class="form-group">
        <legend class="mt-4">Área da Ciência</legend>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="area" id="area" value="1" checked="">
                Ciências Exatas. Ex: Computação, Matemática, Estatística, etc.
            </label><br>
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="area" id="area" value="2">
                Ciências Humanas. Ex: Letras, História, Psicologia, etc.
            </label><br>
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="area" id="area" value="3">
                Ciências Biológicas. Ex: Medicina, Odonto, Agronomia, etc.
            </label><br>
        </div>
    </fieldset>

    <button type="submit" class="btn btn-primary">Adicionar Curso</button>
</form>