<div class="container">
    <p >Manual:<br>Aperte "Enter" para começar<br>Aperte "F" para alternar a velocidade<br>Aperte "↓" para acelerar<br>Aperte "↑" para desacelerar<br>Aperte "←" para ir para esquerda<br>Aperte "→" para ir para direita</p>
</div>
<div id="target" class="container0">
    <div id="montanha" style="background-color: aliceblue;">
        <div id="skier"></div>
    </div>
</div>