<p style=" width: 30%; margin: auto; display: block;"><img src="/img/skifree.jpg"  width=300 height=400 ></p>

<p>&emsp;&emsp;SkiFree é um jogo de computador de esqui para um jogador criado por Chris Pirih e lançado com o Microsoft Entertainment Pack 3 para Windows em outubro de 1991. O jogador controla um esquiador em uma encosta de montanha, evitando obstáculos enquanto corre contra o tempo ou realiza acrobacias por pontos, dependendo do o modo de jogo.</p>

<p>&emsp;&emsp;SkiFree foi bem recebido no lançamento, com os críticos se concentrando em sua simplicidade e gráficos. O jogo foi portado para Macintosh e, anos depois, para Game Boy Color e iOS. Pirih também lançou uma versão gratuita e atualizada do Windows de 32 bits depois de redescobrir seu código-fonte original. SkiFree continua popular entre a comunidade de jogos e é frequentemente lembrado por seu Abominable Snowman, que persegue o jogador depois que ele termina uma corrida completa.</p>

<p>&emsp;&emsp;Em 2020, a Microsoft lançou o Surf, um jogo incluído no Microsoft Edge fortemente inspirado no SkiFree. Uma skin de inverno em que o jogador esquia em vez de surfar e deve correr do SkiFree Abominable Snowman foi adicionada ao jogo em 2021.</p>