<h1>Criação de Conta</h1>

<div class="container">
    <div class="row">
        <div class="col-8">
            <form action="/signup" method="post">
                <input type="hidden" name="_csrf" value="{{csrf}}"/>
                <div class="form-group">
                    <label for="nome" class="form-label mt-4">Nome Completo</label>
                    <input 
                    type="text" 
                    class="form-control" 
                    id="nome" 
                    name="nome"
                    placeholder="John Doe">
                </div>
                <div class="form-group">
                    <label for="email" class="form-label mt-4">Endereço de email</label>
                    <input 
                    type="email" 
                    class="form-control" 
                    id="email" 
                    name="email"
                    placeholder="johndoe@gmail.com">
                </div>
                <div class="form-group">
                    <label for="cursoId" class="form-label mt-4">Seu curso na UFAM</label>
                    <select class="form-select" id="cursoId" name="cursoId">
                        <option value="0">Selecione seu curso ...</option>
                        {{#each cursos}}
                        <option value="{{id}}">{{nome}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="senha" class="form-label mt-4">Senha</label>
                    <input 
                    type="password" 
                    class="form-control" 
                    id="senha" 
                    name="senha"
                    placeholder="Digite a senha">
                </div>
                <div class="d-grid gap-2 mt-4">
                    <button type="submit" class="btn btn-primary" >Criar conta</button>
                </div>
            </form>
        </div>
    </div>
</div>
